@{  
    //@ tells editor we want to use C#.
    Layout = "~/Views/Shared/_Layout.cshtml"; //path to the "shared" layout page
    ViewBag.Title = "Comic Book Detail";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@ViewBag.SeriesTitle</h1>
        <h2>Issue #@ViewBag.IssueNumber</h2>
        <div>@Html.Raw(ViewBag.description)</div>

        @if (ViewBag.Artists.Length > 0)
        {
            <h5>Artists</h5>
            <div>
                <ul>
                    @foreach (var artist in ViewBag.Artists)
                    {
                        <text><!-- @artist --></text>
                        <li>@artist</li>
                    }
                </ul>
            </div>
        }
    </div>
</body>
</html>
